# Telegram frameworks
pyrogram==2.0.106
tgcrypto
telethon==1.34.0

# MongoDB
motor==3.3.2
pymongo==4.6.1

# Async & Scheduler
aiofiles
aiojobs

# Utils
opencv-python-headless
requests
pillow
dnspython

# For Heroku / Docker
python-dotenv
